<p>
  <h2><%= @employee.name %></h2>
</p>

<p>
  <%= @employee.role.capitalize %>
</p>
<p>
  <b>Phone</b>

  <%= @employee.phone.insert(0, '').insert(3, '-').insert(7, '-') %>
</p>

<p>
  <b>Social Secuirity Number:</b>
  <%= @employee.ssn.insert(0, '').insert(3, '-').insert(6, '-') %>
</p>

<p>
  <b>Employee upcoming Shifts:</b>
   <% @upcoming_shifts.each do |shift| %>
       <% shift.start_date %>
  <% end %>
</p>
  <b>Employee past shifts:</b>
   <% @past_shifts.each do |shift| %>
       <% shift.start_date %>
       <% shift.end_date %>
  <% end %>
</p>
<p>
  <b>Date of Birth:</b>
  <%= @employee.date_of_birth.to_formatted_s(:long) %>
</p>
<p>
    <% if @employee.assignments.first !=nil  %>  
  <%= @employee.assignments.first.store.name%>
    <% end %>
</p>
<p>
    <% if @employee.assignments.current  %>
      <b>Current Assignments</b>
   <% end %>

</p>
<p>
  <% if @employee.assignments.current.first !=nil  %>
  <%= link_to @employee.assignments.first.store.name, store_path(@employee.assignments.first.store.id)%>
  <% end %>
</p>

<p>
  
  Since <%= @employee.assignments.first.start_date.to_formatted_s(:long) %> 
</p>
<p>
   <% unless @employee.assignments.past  %>
      <b>Previous Assignments</b>
      <% end %>
</p>
<p>
    <% unless @employee.assignments.past  %>
    <b>Dates</b>
    <% end %>
</p>
<p>
    <% unless @employee.assignments.past  %>
		 <%= @employee.assignments.past.first.start_date %> <%= @employee.assignments.past.first.end_date%>
	<% end %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
