<h2>Listing Active Assignments</h1>

<table class="highlight"> 

<% if @current_assignments.count == 0 %>
<tr>No current assignments</tr>
<%else%>
<% @current_assignments.each do |asg| %>
  <tr>
        <th>    Current Assignments   </th>
        <th>    Past Assignments      </th>
        <th>    Employee Name         </th>
        <th>    Store Name            </th>
        <th>    Dates                 </th>
  </tr>
  <tr>
     <td></td>
     <td></td>
     <td><%= link_to asg.employee.name, employee_path(asg.employee) %></td>
     <td><%= link_to asg.store.name, store_path(asg.store) %></td>
    <td><%= link_to asg.start_date, assignments_path(asg) %> -Present
        </br>
        <% if asg.end_date !=nil %> 
            <%= asg.end_date.month %>/<%= asg.end_date.day %>/<%= asg.end_date.year %>, 
        <% else %>
            -- ,
        <% end %>
        <%= asg.start_date.month %>/<%= asg.start_date.day %>/<%= asg.start_date.year %>
    </td>
    <td><%= link_to 'show', assignment_path(asg),:class=> "waves-effect waves-light btn light-green" %></td>
    <td><%= link_to 'Edit', edit_assignment_path(asg),:class=> "waves-effect waves-light btn light-blue" %></td>
    <td><%= link_to 'Destroy',  assignments_path(asg), confirm: 'Are you sure?', method: :delete, :class=> "waves-effect waves-light btn red" %></td>

  </tr>
<% end %>
<% end %>
<% if @past_assignments.count == 0 %>
<tr>No current assignments</tr>
<%else%>
<% @past_assignments.each do |asg| %>
  <tr>
        <th>    Current Assignments   </th>
        <th>    Past Assignments      </th>
        <th>    Employee Name         </th>
        <th>    Store Name            </th>
        <th>    Dates                 </th>
  </tr>
  <tr>
     <td></td>
     <td></td>
     <td><%= link_to asg.employee.name, employee_path(asg.employee) %></td>
     <td><%= link_to asg.store.name, store_path(asg.store) %></td>
    <td><%= link_to asg.start_date, assignments_path(asg) %> -Present
        </br>
        <% if asg.end_date !=nil %> 
            <%= asg.end_date.month %>/<%= asg.end_date.day %>/<%= asg.end_date.year %>, 
        
        <% else %>
            -- ,
        <% end %>
        <%= asg.start_date.month %>/<%= asg.start_date.day %>/<%= asg.start_date.year %>
    </td>
    
   <td><%= link_to 'show', assignment_path(asg),:class=> "waves-effect waves-light btn light-green" %></td>
    <td><%= link_to 'Edit', edit_assignment_path(asg),:class=> "waves-effect waves-light btn light-blue" %></td>
    <td><%= link_to 'Destroy',  assignments_path(asg), confirm: 'Are you sure?', method: :delete, :class=> "waves-effect waves-light btn red" %></td>

  </tr>
<% end %>
<% end %>
</table>
<br />
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate @current_assignments, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

<br />

<%= link_to 'New assignments', new_assignment_path %>