<h2>Listing Active Stores</h2>
<th >    Active Stores  </th>
<table class="highlight"> 
  <tr>
    <th> Name              </th>
    <th>Current Assignments</th>
    <th>Phone</th>
  </tr>
<% if @active_stores.count == 0%>
<td>There are no active stores</td>
<%else%>
<% @active_stores.each do |store| %>
  <tr>
    <td><%= link_to store.name, store_path(store) %></td>
    <td><% store.assignments.for_store(store)%></td>
    <td><%= store.phone.insert(0, '').insert(3, '-').insert(7, '-') %></td>
    
    <td><%= link_to 'Edit', edit_store_path(store),:class=> "waves-effect waves-light btn light-blue" %></td>
    <td><%= link_to 'Destroy', store, confirm: 'Are you sure?', method: :delete, :class=> "waves-effect waves-light btn red" %></td>

  </tr>
<% end %>
<%end%>
<% if @inactive_stores.count == 0%>
<td>There are no inactive stores</td>
<%else%>
<th>    inActive Stores  </th>
<% @inactive_stores.each do |store| %>
  <tr>
    <td><%= link_to store.name, store_path(store) %></td>
    <td><%= link_to 'Edit', edit_store_path(store),:class=> "waves-effect waves-light btn light-blue" %></td>
    <td><%= link_to 'Destroy', store, confirm: 'Are you sure?', method: :delete, :class=> "waves-effect waves-light btn red" %></td>

  </tr>
<% end %><% end %>


</table>
<br />
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate @store, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

<br />

<%= link_to 'New Store', new_store_path %>
